/// Font colors
$font-color: hsla(0, 0%, 20%, 1);
$title-color: hsla(0, 0%, 13%, 1);

/// Colors
$footer-color: hsla(0, 0%, 33%, 1);
$background-color: hsla(0, 0%, 96%, 1);
//$primary-color: hsla(158, 55.4%, 78%, 1);
$primary-color: hsla(158, 100%, 78%, 1); /*highlight*/
//$secondary-color: hsla(210, 29%, 24%, 1);


/// Breakpoints 
/*$small: 375px;
$medium: 768px;*/
$max-width: 1180px; /* à revoir */