@use './variables' as *;


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

body {
  color: var(--foreground);
  background: var(--background);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

*/



*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
  max-width: 100vw;  
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $font-color;
  background: $background-color;
  font-family: var(--font-raleway);
  line-height: 1.5;
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  margin-top: clamp(0.5rem, 3vh, 5rem); /* à revoir*/
  width: 85vw;
  max-width: $max-width;
}

h1 {
  font-family: var(--font-merienda);
  text-align: center;
  /*font-size: 2.1rem;*/
  text-wrap: balance;
  padding: 1rem;

}

h2 {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
} 

button:hover {
  cursor: pointer;
}

input,
button,
textarea,
select {
    font: inherit; /*font-size, font-weight, and font-family*/
}

input,
textarea {
    border: none;
    background: none;
}

button,
dialog {
    background-color: transparent;
    color: inherit;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word; /* voir text-balance*/
}



.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


