@use '@/app/styles/variables' as *;

footer {
  margin-top: auto; /* for sticky footer */
  width: 100vw;
  display: flex;
  background-color: $footer-color;
  color: $background-color;
  height: 2rem;
  padding: 0.5rem;
  div {
    height: 100%;
    width: 100px;
    background-color: $primary-color;
  }

}