@use '@/app/styles/variables' as *;


.admin {
    form {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .new-week {
            display: flex;
            width: 100%;
            justify-content: space-between;
            border-radius: 10px;
            padding: 0.5rem;
            gap: 1rem;
            border: 1px solid black;
            div {
                border: 1px solid red;
                display: flex;
                flex-direction: column;
                height: 100%;
                input[type='checkbox'] {
                    margin: auto;
                }
            }
        }
        .btn-add svg{
            width: 2rem;
            height: 2rem;
            fill: $footer-color;;
        }
    }
}
